.login-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/monthly-emojis-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-card-container {
  background-image: linear-gradient(#72687536, #75747500);
  padding: 42px 24px;
  border-radius: 24px;
  box-shadow:
    inset 6.82px 6.82px 16.37px #51515166,
    inset -6.82px -6.82px 20.46px #28262675;
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-family: Roboto;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 360px;
}
.labelElement {
  font-family: Roboto;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 0px;
}
.inputElement {
  height: 40px;
  min-width: 240px;
  max-width: 360px;
  background-color: #343243;
  border: 1px solid #d7dfe9;
  border-radius: 39px;
  padding: 12px;
  margin-bottom: 24px;
  outline: none;
  color: #ffffff;
  font-family: Roboto;
}
.checkbox-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
.checkboxElement {
  outline: none;
  transform: scale(1.3);
}
.checkboxLabel {
  font-family: Roboto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.login-button {
  background-color: #ffbe38;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: Roboto;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  margin-top: 24px;
}
.error-msg {
  font-family: Roboto;
  color: #ef4444;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .login-card-container {
    width: 75%;
  }
  .heading {
    font-size: 32px;
  }
  .labelElement {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  .login-card-container {
    width: 62%;
  }
}

@media screen and (min-width: 1200px) {
  .login-card-container {
    width: 48%;
  }
  .heading {
    font-size: 36px;
  }
}
